<head>

<link rel="stylesheet" type="text/css" href="columns.css">
</head>
<header class="header"/>
		 <div class="bp-logo"><a href="index.html"><img src="#" srcset="juno-style/images/logo.png 1x, juno-style/images/logo@2x.png 2x" alt="" /></a></div>
</header>

<div class="grid">

  <div class="module big">
    <div class="module-inner">
      <img src="style/images/art/bg.jpg"/>
    </div>
  </div>


  <div class="module">
    <div class="module-inner">
      <img src="style/images/art/j2.jpg"/>
    </div>
  </div>

  <div class="module">
    <div class="module-inner">
      <img src="style/images/art/j3.jpg"/>
    </div>
  </div>


  <div class="module">
    <div class="module-inner">
      <img src="style/images/art/j4.jpg"/>
    </div>
  </div>

  <div class="module">
    <div class="module-inner">
      <img src="style/images/art/j5.jpg"/>
    </div>
  </div>

  <div class="module big">
    <div class="module-inner">
      <h1>Aditya Batura</h1>
      <h2>Founder of Codomo</h2>
      <p>Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio </p>
      <p>Twitter</p>
      <p>Facebook</p>
      <p>Website</p>
    </div>
  </div>

  <div class="module">
    <div class="module-inner">
      <div class='vimeo-iframe'>
<iframe src="https://player.vimeo.com/video/73118241?color=ed0c6e" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <div class="module">
    <div class="module-inner">
      <div class='vimeo-iframe'>
<iframe src="https://player.vimeo.com/video/73118241?color=ed0c6e" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="module">
    <div class="module-inner">
      <div class='vimeo-iframe'>
<iframe src="https://player.vimeo.com/video/73118241?color=ed0c6e" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="module">
    <div class="module-inner">
      <div class='vimeo-iframe'>
<iframe src="https://player.vimeo.com/video/73118241?color=ed0c6e" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

   <div class="module">
    <div class="module-inner">
      <div class='vimeo-iframe'>
<iframe src="https://player.vimeo.com/video/73118241?color=ed0c6e" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
   <div class="module">
    <div class="module-inner">
      <div class='vimeo-iframe'>
<iframe src="https://player.vimeo.com/video/73118241?color=ed0c6e" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  
</div>

<footer class="footer">
  <p>Yadda yadda yadda</p>
</footer>
