
<body class="pageloader text-center">
<div class="content-wrapper">
	<div class="container inner">
		 <div class="logo"><a href="index.html"><img src="#" srcset="juno-style/images/logo.png 1x, juno-style/images/logo@2x.png 2x" alt="" /></a></div>
	</div>
 
  <main class="container inner">
    <div class="text">
      <div class="text-inner">
        <h1>Almost done…</h1>
        <p class="lead">Please click the link we sent you to complete your subscription…</p>
      </div>
      <!-- /.text-inner --> 
    </div>
    <!-- /.text --> 
  </main>
  <!-- /.container --> 
</div>
<!-- /.content-wrapper -->
<script type="text/javascript" src="juno-style/js/jquery.min.js"></script> 
<script type="text/javascript" src="juno-style/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="juno-style/js/plugins.js"></script> 
<script type="text/javascript" src="juno-style/js/scripts.js"></script> 
<script>
	$.backstretch([
      "juno-style/images/art/slider-bg5.jpg"
  ], {duration: 4000, fade: 750});
</script>
</body>
</html>
